.banner {
	background-color: #2D3142;
	padding: 5px;
	box-shadow: 0px 10px #B52835;
}

.banner img{
	width: 100px;
	height: auto;
	align: right;
}

body{
	margin:0px;
	height:100%;
	font-family:"Open Sans";
 	font-size: 12px;
	background-color: #BFC0C0;
}

.body{
	margin: 10px;
	padding: 10px;
	background-color: #FFFFFF;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	min-height: 100%;
}

html{
	margin:0px;
	height:100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

table {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table tbody td {
  font-size: 13px;
}
table td:nth-child(even) {
  background: #EBEBEB;
}
table th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
	background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table tfoot td {
  font-size: 14px;
}

#title{
	color: #B52835;
	display:inline-block;
}